In [47]:
import pandas as pd
import numpy as np

In [48]:
l = [i for i in range(5)]

In [49]:
s = pd.Series(l)

In [50]:
s

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [5]:
s = pd.Series(l, index = ['a','b','c','d','e'])

In [6]:
s

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [7]:
df = pd.read_csv('187.tips.csv')

In [8]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
df.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [10]:
df = pd.read_csv('187.tips.csv', chunksize = 2)

In [11]:
for chunk in df:
    print(chunk)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
   total_bill   tip   sex smoker  day    time  size
2       21.01  3.50  Male     No  Sun  Dinner     3
3       23.68  3.31  Male     No  Sun  Dinner     2
   total_bill   tip     sex smoker  day    time  size
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
   total_bill   tip   sex smoker  day    time  size
6        8.77  2.00  Male     No  Sun  Dinner     2
7       26.88  3.12  Male     No  Sun  Dinner     4
   total_bill   tip   sex smoker  day    time  size
8       15.04  1.96  Male     No  Sun  Dinner     2
9       14.78  3.23  Male     No  Sun  Dinner     2
    total_bill   tip     sex smoker  day    time  size
10       10.27  1.71    Male     No  Sun  Dinner     2
11       35.26  5.00  Female     No  Sun  Dinner     4
    total_bill   tip   sex smoker  day    time  size
12       15.42  1.57  Male     No  Sun  Dinner     2
13       18.43  3.00  Male     No  Sun  Dinner     4
    total_bill   tip     sex smoker  day    time  size
14       14.83  3.02  Female     No  Sun  Dinner     2
15       21.58  3.92    Male     No  Sun  Dinner     2
    total_bill   tip     sex smoker  day    time  size
16       10.33  1.67  Female     No  Sun  Dinner     3
17       16.29  3.71    Male     No  Sun  Dinner     3
    total_bill   tip     sex smoker  day    time  size
18       16.97  3.50  Female     No  Sun  Dinner     3
19       20.65  3.35    Male     No  Sat  Dinner     3
    total_bill   tip     sex smoker  day    time  size
20       17.92  4.08    Male     No  Sat  Dinner     2
21       20.29  2.75  Female     No  Sat  Dinner     2
    total_bill   tip     sex smoker  day    time  size
22       15.77  2.23  Female     No  Sat  Dinner     2
23       39.42  7.58    Male     No  Sat  Dinner     4
    total_bill   tip   sex smoker  day    time  size
24       19.82  3.18  Male     No  Sat  Dinner     2
25       17.81  2.34  Male     No  Sat  Dinner     4
    total_bill  tip   sex smoker  day    time  size
26       13.37  2.0  Male     No  Sat  Dinner     2
27       12.69  2.0  Male     No  Sat  Dinner     2
    total_bill  tip     sex smoker  day    time  size
28       21.70  4.3    Male     No  Sat  Dinner     2
29       19.65  3.0  Female     No  Sat  Dinner     2
    total_bill   tip   sex smoker  day    time  size
30        9.55  1.45  Male     No  Sat  Dinner     2
31       18.35  2.50  Male     No  Sat  Dinner     4
    total_bill   tip     sex smoker  day    time  size
32       15.06  3.00  Female     No  Sat  Dinner     2
33       20.69  2.45  Female     No  Sat  Dinner     4
    total_bill   tip   sex smoker  day    time  size
34       17.78  3.27  Male     No  Sat  Dinner     2
35       24.06  3.60  Male     No  Sat  Dinner     3
    total_bill   tip     sex smoker  day    time  size
36       16.31  2.00    Male     No  Sat  Dinner     3
37       16.93  3.07  Female     No  Sat  Dinner     3
    total_bill   tip   sex smoker  day    time  size
38       18.69  2.31  Male     No  Sat  Dinner     3
39       31.27  5.00  Male     No  Sat  Dinner     3
    total_bill   tip   sex smoker  day    time  size
40       16.04  2.24  Male     No  Sat  Dinner     3
41       17.46  2.54  Male     No  Sun  Dinner     2
    total_bill   tip   sex smoker  day    time  size
42       13.94  3.06  Male     No  Sun  Dinner     2
43        9.68  1.32  Male     No  Sun  Dinner     2
    total_bill  tip   sex smoker  day    time  size
44       30.40  5.6  Male     No  Sun  Dinner     4
45       18.29  3.0  Male     No  Sun  Dinner     2
    total_bill  tip   sex smoker  day    time  size
46       22.23  5.0  Male     No  Sun  Dinner     2
47       32.40  6.0  Male     No  Sun  Dinner     4
    total_bill   tip   sex smoker  day    time  size
48       28.55  2.05  Male     No  Sun  Dinner     3
49       18.04  3.00  Male     No  Sun  Dinner     2
    total_bill  tip     sex smoker  day    time  size
50       12.54  2.5    Male     No  Sun  Dinner     2
51       10.29  2.6  Female     No  Sun  Dinner     2
    total_bill   tip     sex smoker  day    time  size
52       34.81  5.20  Female     No  Sun  Dinner     4
53        9.94  1.56    Male     No  Sun  Dinner     2
    total_bill   tip   sex smoker  day    time  size
54       25.56  4.34  Male     No  Sun  Dinner     4
55       19.49  3.51  Male     No  Sun  Dinner     2
    total_bill  tip     sex smoker  day    time  size
56       38.01  3.0    Male    Yes  Sat  Dinner     4
57       26.41  1.5  Female     No  Sat  Dinner     2
    total_bill   tip   sex smoker  day    time  size
58       11.24  1.76  Male    Yes  Sat  Dinner     2
59       48.27  6.73  Male     No  Sat  Dinner     4
    total_bill   tip   sex smoker  day    time  size
60       20.29  3.21  Male    Yes  Sat  Dinner     2
61       13.81  2.00  Male    Yes  Sat  Dinner     2
    total_bill   tip   sex smoker  day    time  size
62       11.02  1.98  Male    Yes  Sat  Dinner     2
63       18.29  3.76  Male    Yes  Sat  Dinner     4
    total_bill   tip   sex smoker  day    time  size
64       17.59  2.64  Male     No  Sat  Dinner     3
65       20.08  3.15  Male     No  Sat  Dinner     3
    total_bill   tip     sex smoker  day    time  size
66       16.45  2.47  Female     No  Sat  Dinner     2
67        3.07  1.00  Female    Yes  Sat  Dinner     1
    total_bill   tip   sex smoker  day    time  size
68       20.23  2.01  Male     No  Sat  Dinner     2
69       15.01  2.09  Male    Yes  Sat  Dinner     2
    total_bill   tip     sex smoker  day    time  size
70       12.02  1.97    Male     No  Sat  Dinner     2
71       17.07  3.00  Female     No  Sat  Dinner     3
    total_bill   tip     sex smoker  day    time  size
72       26.86  3.14  Female    Yes  Sat  Dinner     2
73       25.28  5.00  Female    Yes  Sat  Dinner     2
    total_bill   tip     sex smoker  day    time  size
74       14.73  2.20  Female     No  Sat  Dinner     2
75       10.51  1.25    Male     No  Sat  Dinner     2
    total_bill   tip   sex smoker   day    time  size
76       17.92  3.08  Male    Yes   Sat  Dinner     2
77       27.20  4.00  Male     No  Thur   Lunch     4
    total_bill   tip   sex smoker   day   time  size
78       22.76  3.00  Male     No  Thur  Lunch     2
79       17.29  2.71  Male     No  Thur  Lunch     2
    total_bill  tip   sex smoker   day   time  size
80       19.44  3.0  Male    Yes  Thur  Lunch     2
81       16.66  3.4  Male     No  Thur  Lunch     2
    total_bill   tip     sex smoker   day   time  size
82       10.07  1.83  Female     No  Thur  Lunch     1
83       32.68  5.00    Male    Yes  Thur  Lunch     2
    total_bill   tip     sex smoker   day   time  size
84       15.98  2.03    Male     No  Thur  Lunch     2
85       34.83  5.17  Female     No  Thur  Lunch     4
    total_bill  tip   sex smoker   day   time  size
86       13.03  2.0  Male     No  Thur  Lunch     2
87       18.28  4.0  Male     No  Thur  Lunch     2
    total_bill   tip   sex smoker   day   time  size
88       24.71  5.85  Male     No  Thur  Lunch     2
89       21.16  3.00  Male     No  Thur  Lunch     2
    total_bill  tip   sex smoker  day    time  size
90       28.97  3.0  Male    Yes  Fri  Dinner     2
91       22.49  3.5  Male     No  Fri  Dinner     2
    total_bill  tip     sex smoker  day    time  size
92        5.75  1.0  Female    Yes  Fri  Dinner     2
93       16.32  4.3  Female    Yes  Fri  Dinner     2
    total_bill   tip     sex smoker  day    time  size
94       22.75  3.25  Female     No  Fri  Dinner     2
95       40.17  4.73    Male    Yes  Fri  Dinner     4
    total_bill  tip   sex smoker  day    time  size
96       27.28  4.0  Male    Yes  Fri  Dinner     2
97       12.03  1.5  Male    Yes  Fri  Dinner     2
    total_bill  tip   sex smoker  day    time  size
98       21.01  3.0  Male    Yes  Fri  Dinner     2
99       12.46  1.5  Male     No  Fri  Dinner     2
     total_bill  tip     sex smoker  day    time  size
100       11.35  2.5  Female    Yes  Fri  Dinner     2
101       15.38  3.0  Female    Yes  Fri  Dinner     2
     total_bill   tip     sex smoker  day    time  size
102       44.30  2.50  Female    Yes  Sat  Dinner     3
103       22.42  3.48  Female    Yes  Sat  Dinner     2
     total_bill   tip     sex smoker  day    time  size
104       20.92  4.08  Female     No  Sat  Dinner     2
105       15.36  1.64    Male    Yes  Sat  Dinner     2
     total_bill   tip   sex smoker  day    time  size
106       20.49  4.06  Male    Yes  Sat  Dinner     2
107       25.21  4.29  Male    Yes  Sat  Dinner     2
     total_bill   tip     sex smoker  day    time  size
108       18.24  3.76    Male     No  Sat  Dinner     2
109       14.31  4.00  Female    Yes  Sat  Dinner     2
     total_bill  tip     sex smoker  day    time  size
110       14.00  3.0    Male     No  Sat  Dinner     2
111        7.25  1.0  Female     No  Sat  Dinner     1
     total_bill   tip   sex smoker  day    time  size
112       38.07  4.00  Male     No  Sun  Dinner     3
113       23.95  2.55  Male     No  Sun  Dinner     2
     total_bill  tip     sex smoker  day    time  size
114       25.71  4.0  Female     No  Sun  Dinner     3
115       17.31  3.5  Female     No  Sun  Dinner     2
     total_bill   tip     sex smoker   day    time  size
116       29.93  5.07    Male     No   Sun  Dinner     4
117       10.65  1.50  Female     No  Thur   Lunch     2
     total_bill   tip     sex smoker   day   time  size
118       12.43  1.80  Female     No  Thur  Lunch     2
119       24.08  2.92  Female     No  Thur  Lunch     4
     total_bill   tip     sex smoker   day   time  size
120       11.69  2.31    Male     No  Thur  Lunch     2
121       13.42  1.68  Female     No  Thur  Lunch     2
     total_bill  tip   sex smoker   day   time  size
122       14.26  2.5  Male     No  Thur  Lunch     2
123       15.95  2.0  Male     No  Thur  Lunch     2
     total_bill   tip     sex smoker   day   time  size
124       12.48  2.52  Female     No  Thur  Lunch     2
125       29.80  4.20  Female     No  Thur  Lunch     6
     total_bill   tip     sex smoker   day   time  size
126        8.52  1.48    Male     No  Thur  Lunch     2
127       14.52  2.00  Female     No  Thur  Lunch     2
     total_bill   tip     sex smoker   day   time  size
128       11.38  2.00  Female     No  Thur  Lunch     2
129       22.82  2.18    Male     No  Thur  Lunch     3
     total_bill   tip     sex smoker   day   time  size
130       19.08  1.50    Male     No  Thur  Lunch     2
131       20.27  2.83  Female     No  Thur  Lunch     2
     total_bill  tip     sex smoker   day   time  size
132       11.17  1.5  Female     No  Thur  Lunch     2
133       12.26  2.0  Female     No  Thur  Lunch     2
     total_bill   tip     sex smoker   day   time  size
134       18.26  3.25  Female     No  Thur  Lunch     2
135        8.51  1.25  Female     No  Thur  Lunch     2
     total_bill  tip     sex smoker   day   time  size
136       10.33  2.0  Female     No  Thur  Lunch     2
137       14.15  2.0  Female     No  Thur  Lunch     2
     total_bill   tip     sex smoker   day   time  size
138       16.00  2.00    Male    Yes  Thur  Lunch     2
139       13.16  2.75  Female     No  Thur  Lunch     2
     total_bill  tip     sex smoker   day   time  size
140       17.47  3.5  Female     No  Thur  Lunch     2
141       34.30  6.7    Male     No  Thur  Lunch     6
     total_bill  tip     sex smoker   day   time  size
142       41.19  5.0    Male     No  Thur  Lunch     5
143       27.05  5.0  Female     No  Thur  Lunch     6
     total_bill  tip     sex smoker   day   time  size
144       16.43  2.3  Female     No  Thur  Lunch     2
145        8.35  1.5  Female     No  Thur  Lunch     2
     total_bill   tip     sex smoker   day   time  size
146       18.64  1.36  Female     No  Thur  Lunch     3
147       11.87  1.63  Female     No  Thur  Lunch     2
     total_bill   tip   sex smoker   day   time  size
148        9.78  1.73  Male     No  Thur  Lunch     2
149        7.51  2.00  Male     No  Thur  Lunch     2
     total_bill  tip   sex smoker  day    time  size
150       14.07  2.5  Male     No  Sun  Dinner     2
151       13.13  2.0  Male     No  Sun  Dinner     2
     total_bill   tip   sex smoker  day    time  size
152       17.26  2.74  Male     No  Sun  Dinner     3
153       24.55  2.00  Male     No  Sun  Dinner     4
     total_bill   tip     sex smoker  day    time  size
154       19.77  2.00    Male     No  Sun  Dinner     4
155       29.85  5.14  Female     No  Sun  Dinner     5
     total_bill   tip     sex smoker  day    time  size
156       48.17  5.00    Male     No  Sun  Dinner     6
157       25.00  3.75  Female     No  Sun  Dinner     4
     total_bill   tip     sex smoker  day    time  size
158       13.39  2.61  Female     No  Sun  Dinner     2
159       16.49  2.00    Male     No  Sun  Dinner     4
     total_bill  tip   sex smoker  day    time  size
160       21.50  3.5  Male     No  Sun  Dinner     4
161       12.66  2.5  Male     No  Sun  Dinner     2
     total_bill  tip     sex smoker  day    time  size
162       16.21  2.0  Female     No  Sun  Dinner     3
163       13.81  2.0    Male     No  Sun  Dinner     2
     total_bill   tip     sex smoker  day    time  size
164       17.51  3.00  Female    Yes  Sun  Dinner     2
165       24.52  3.48    Male     No  Sun  Dinner     3
     total_bill   tip   sex smoker  day    time  size
166       20.76  2.24  Male     No  Sun  Dinner     2
167       31.71  4.50  Male     No  Sun  Dinner     4
     total_bill   tip     sex smoker  day    time  size
168       10.59  1.61  Female    Yes  Sat  Dinner     2
169       10.63  2.00  Female    Yes  Sat  Dinner     2
     total_bill    tip   sex smoker  day    time  size
170       50.81  10.00  Male    Yes  Sat  Dinner     3
171       15.81   3.16  Male    Yes  Sat  Dinner     2
     total_bill   tip   sex smoker  day    time  size
172        7.25  5.15  Male    Yes  Sun  Dinner     2
173       31.85  3.18  Male    Yes  Sun  Dinner     2
     total_bill   tip   sex smoker  day    time  size
174       16.82  4.00  Male    Yes  Sun  Dinner     2
175       32.90  3.11  Male    Yes  Sun  Dinner     2
     total_bill  tip   sex smoker  day    time  size
176       17.89  2.0  Male    Yes  Sun  Dinner     2
177       14.48  2.0  Male    Yes  Sun  Dinner     2
     total_bill   tip     sex smoker  day    time  size
178        9.60  4.00  Female    Yes  Sun  Dinner     2
179       34.63  3.55    Male    Yes  Sun  Dinner     2
     total_bill   tip   sex smoker  day    time  size
180       34.65  3.68  Male    Yes  Sun  Dinner     4
181       23.33  5.65  Male    Yes  Sun  Dinner     2
     total_bill  tip   sex smoker  day    time  size
182       45.35  3.5  Male    Yes  Sun  Dinner     3
183       23.17  6.5  Male    Yes  Sun  Dinner     4
     total_bill  tip   sex smoker  day    time  size
184       40.55  3.0  Male    Yes  Sun  Dinner     2
185       20.69  5.0  Male     No  Sun  Dinner     5
     total_bill  tip     sex smoker  day    time  size
186       20.90  3.5  Female    Yes  Sun  Dinner     3
187       30.46  2.0    Male    Yes  Sun  Dinner     5
     total_bill  tip     sex smoker  day    time  size
188       18.15  3.5  Female    Yes  Sun  Dinner     3
189       23.10  4.0    Male    Yes  Sun  Dinner     3
     total_bill   tip     sex smoker   day    time  size
190       15.69  1.50    Male    Yes   Sun  Dinner     2
191       19.81  4.19  Female    Yes  Thur   Lunch     2
     total_bill   tip   sex smoker   day   time  size
192       28.44  2.56  Male    Yes  Thur  Lunch     2
193       15.48  2.02  Male    Yes  Thur  Lunch     2
     total_bill   tip   sex smoker   day   time  size
194       16.58  4.00  Male    Yes  Thur  Lunch     2
195        7.56  1.44  Male     No  Thur  Lunch     2
     total_bill  tip     sex smoker   day   time  size
196       10.34  2.0    Male    Yes  Thur  Lunch     2
197       43.11  5.0  Female    Yes  Thur  Lunch     4
     total_bill  tip     sex smoker   day   time  size
198       13.00  2.0  Female    Yes  Thur  Lunch     2
199       13.51  2.0    Male    Yes  Thur  Lunch     2
     total_bill   tip     sex smoker   day   time  size
200       18.71  4.00    Male    Yes  Thur  Lunch     3
201       12.74  2.01  Female    Yes  Thur  Lunch     2
     total_bill  tip     sex smoker   day   time  size
202        13.0  2.0  Female    Yes  Thur  Lunch     2
203        16.4  2.5  Female    Yes  Thur  Lunch     2
     total_bill   tip     sex smoker   day   time  size
204       20.53  4.00    Male    Yes  Thur  Lunch     4
205       16.47  3.23  Female    Yes  Thur  Lunch     3
     total_bill   tip   sex smoker  day    time  size
206       26.59  3.41  Male    Yes  Sat  Dinner     3
207       38.73  3.00  Male    Yes  Sat  Dinner     4
     total_bill   tip     sex smoker  day    time  size
208       24.27  2.03    Male    Yes  Sat  Dinner     2
209       12.76  2.23  Female    Yes  Sat  Dinner     2
     total_bill   tip   sex smoker  day    time  size
210       30.06  2.00  Male    Yes  Sat  Dinner     3
211       25.89  5.16  Male    Yes  Sat  Dinner     4
     total_bill  tip     sex smoker  day    time  size
212       48.33  9.0    Male     No  Sat  Dinner     4
213       13.27  2.5  Female    Yes  Sat  Dinner     2
     total_bill  tip     sex smoker  day    time  size
214       28.17  6.5  Female    Yes  Sat  Dinner     3
215       12.90  1.1  Female    Yes  Sat  Dinner     2
     total_bill  tip   sex smoker  day    time  size
216       28.15  3.0  Male    Yes  Sat  Dinner     5
217       11.59  1.5  Male    Yes  Sat  Dinner     2
     total_bill   tip     sex smoker  day    time  size
218        7.74  1.44    Male    Yes  Sat  Dinner     2
219       30.14  3.09  Female    Yes  Sat  Dinner     4
     total_bill   tip     sex smoker  day   time  size
220       12.16  2.20    Male    Yes  Fri  Lunch     2
221       13.42  3.48  Female    Yes  Fri  Lunch     2
     total_bill   tip     sex smoker  day   time  size
222        8.58  1.92    Male    Yes  Fri  Lunch     1
223       15.98  3.00  Female     No  Fri  Lunch     3
     total_bill   tip     sex smoker  day   time  size
224       13.42  1.58    Male    Yes  Fri  Lunch     2
225       16.27  2.50  Female    Yes  Fri  Lunch     2
     total_bill  tip     sex smoker  day    time  size
226       10.09  2.0  Female    Yes  Fri   Lunch     2
227       20.45  3.0    Male     No  Sat  Dinner     4
     total_bill   tip     sex smoker  day    time  size
228       13.28  2.72    Male     No  Sat  Dinner     2
229       22.12  2.88  Female    Yes  Sat  Dinner     2
     total_bill  tip   sex smoker  day    time  size
230       24.01  2.0  Male    Yes  Sat  Dinner     4
231       15.69  3.0  Male    Yes  Sat  Dinner     3
     total_bill   tip   sex smoker  day    time  size
232       11.61  3.39  Male     No  Sat  Dinner     2
233       10.77  1.47  Male     No  Sat  Dinner     2
     total_bill   tip   sex smoker  day    time  size
234       15.53  3.00  Male    Yes  Sat  Dinner     2
235       10.07  1.25  Male     No  Sat  Dinner     2
     total_bill   tip   sex smoker  day    time  size
236       12.60  1.00  Male    Yes  Sat  Dinner     2
237       32.83  1.17  Male    Yes  Sat  Dinner     2
     total_bill   tip     sex smoker  day    time  size
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3
     total_bill  tip     sex smoker  day    time  size
240       27.18  2.0  Female    Yes  Sat  Dinner     2
241       22.67  2.0    Male    Yes  Sat  Dinner     2
     total_bill   tip     sex smoker   day    time  size
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [12]:
chunk

     total_bill   tip     sex smoker   day    time  size
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [13]:
df.head()

AttributeError: 'TextFileReader' object has no attribute 'head'

In [14]:
df = pd.read_csv('187.tips.csv')

In [15]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [16]:
df = df[df['size']>2]

In [17]:
df

     total_bill   tip     sex smoker  day    time  size
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
4         24.59  3.61  Female     No  Sun  Dinner     4
5         25.29  4.71    Male     No  Sun  Dinner     4
7         26.88  3.12    Male     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
227       20.45  3.00    Male     No  Sat  Dinner     4
230       24.01  2.00    Male    Yes  Sat  Dinner     4
231       15.69  3.00    Male    Yes  Sat  Dinner     3
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3

[84 rows x 7 columns]

In [18]:
df = df[df['sex']=='Male']

In [19]:
df

     total_bill    tip   sex smoker   day    time  size
1         10.34   1.66  Male     No   Sun  Dinner     3
2         21.01   3.50  Male     No   Sun  Dinner     3
5         25.29   4.71  Male     No   Sun  Dinner     4
7         26.88   3.12  Male     No   Sun  Dinner     4
13        18.43   3.00  Male     No   Sun  Dinner     4
17        16.29   3.71  Male     No   Sun  Dinner     3
19        20.65   3.35  Male     No   Sat  Dinner     3
23        39.42   7.58  Male     No   Sat  Dinner     4
25        17.81   2.34  Male     No   Sat  Dinner     4
31        18.35   2.50  Male     No   Sat  Dinner     4
35        24.06   3.60  Male     No   Sat  Dinner     3
36        16.31   2.00  Male     No   Sat  Dinner     3
38        18.69   2.31  Male     No   Sat  Dinner     3
39        31.27   5.00  Male     No   Sat  Dinner     3
40        16.04   2.24  Male     No   Sat  Dinner     3
44        30.40   5.60  Male     No   Sun  Dinner     4
47        32.40   6.00  Male     No   Sun  Dinner     4
48        28.55   2.05  Male     No   Sun  Dinner     3
54        25.56   4.34  Male     No   Sun  Dinner     4
56        38.01   3.00  Male    Yes   Sat  Dinner     4
59        48.27   6.73  Male     No   Sat  Dinner     4
63        18.29   3.76  Male    Yes   Sat  Dinner     4
64        17.59   2.64  Male     No   Sat  Dinner     3
65        20.08   3.15  Male     No   Sat  Dinner     3
77        27.20   4.00  Male     No  Thur   Lunch     4
95        40.17   4.73  Male    Yes   Fri  Dinner     4
112       38.07   4.00  Male     No   Sun  Dinner     3
116       29.93   5.07  Male     No   Sun  Dinner     4
129       22.82   2.18  Male     No  Thur   Lunch     3
141       34.30   6.70  Male     No  Thur   Lunch     6
142       41.19   5.00  Male     No  Thur   Lunch     5
152       17.26   2.74  Male     No   Sun  Dinner     3
153       24.55   2.00  Male     No   Sun  Dinner     4
154       19.77   2.00  Male     No   Sun  Dinner     4
156       48.17   5.00  Male     No   Sun  Dinner     6
159       16.49   2.00  Male     No   Sun  Dinner     4
160       21.50   3.50  Male     No   Sun  Dinner     4
165       24.52   3.48  Male     No   Sun  Dinner     3
167       31.71   4.50  Male     No   Sun  Dinner     4
170       50.81  10.00  Male    Yes   Sat  Dinner     3
180       34.65   3.68  Male    Yes   Sun  Dinner     4
182       45.35   3.50  Male    Yes   Sun  Dinner     3
183       23.17   6.50  Male    Yes   Sun  Dinner     4
185       20.69   5.00  Male     No   Sun  Dinner     5
187       30.46   2.00  Male    Yes   Sun  Dinner     5
189       23.10   4.00  Male    Yes   Sun  Dinner     3
200       18.71   4.00  Male    Yes  Thur   Lunch     3
204       20.53   4.00  Male    Yes  Thur   Lunch     4
206       26.59   3.41  Male    Yes   Sat  Dinner     3
207       38.73   3.00  Male    Yes   Sat  Dinner     4
210       30.06   2.00  Male    Yes   Sat  Dinner     3
211       25.89   5.16  Male    Yes   Sat  Dinner     4
212       48.33   9.00  Male     No   Sat  Dinner     4
216       28.15   3.00  Male    Yes   Sat  Dinner     5
227       20.45   3.00  Male     No   Sat  Dinner     4
230       24.01   2.00  Male    Yes   Sat  Dinner     4
231       15.69   3.00  Male    Yes   Sat  Dinner     3
239       29.03   5.92  Male     No   Sat  Dinner     3

In [20]:
s

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [23]:
pd.skew(s)

AttributeError: module 'pandas' has no attribute 'skew'

In [24]:
r = pd.read_csv('187.tips.csv')

In [25]:
r.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [37]:
j = pd.read_csv('data.json')

In [38]:
j.head()

Empty DataFrame
Columns: [{"abandoned industrial site": ["Site that cannot be used for any purpose,  being contaminated by pollutants."],  "abandoned vehicle": ["A vehicle that has been discarded in the environment,  urban or otherwise,  often found wrecked,  destroyed,  damaged or with a major component part stolen or missing."],  "abiotic factor": ["Physical,  chemical and other non-living environmental factor."],  "access road": ["Any street or narrow stretch of paved surface that leads to a specific destination,  such as a main highway."],  "access to the sea": ["The ability to bring goods to and from a port that is able to harbor sea faring vessels."],  "accident": ["An unexpected,  unfortunate mishap,  failure or loss with the potential for harming human life,  property or the environment.",  "An event that happens suddenly or by chance without an apparent cause."],  "accumulator": ["A rechargeable device for storing electrical energy in the form of chemical energy,  consisting of one or more separate secondary cells.\\n(Source: CED)"],  "acidification": ["Addition of an acid to a solution until the pH falls below 7."],  "acidity": ["The state of being acid that is of being capable of transferring a hydrogen ion in solution."],  "acidity degree": ["The amount of acid present in a solution,  often expressed in terms of pH."],  "acid rain": ["Rain having a pH less than 5.6."],  "acid": ["A compound capable of transferring a hydrogen ion in solution.",  "Being harsh or corrosive in tone.",  "Having an acid,  sharp or tangy taste.",  "A powerful hallucinogenic drug manufactured from lysergic acid.",  "Having a pH less than 7,  or being sour,  or having the strength to neutralize  alkalis,  or turning a litmus paper red."],  "acoustic filter": ["A device employed to reject sound in a particular range of frequencies while passing sound in another range of frequencies."],  "acoustic insulation": ["The process of preventing the transmission of sound by surrounding with a nonconducting material."],  "acoustic level": ["Physical quantity of sound measured,  usually expressed in decibels.\\n(Source: KORENa)"],  "acoustic property": ["The characteristics found within a structure that determine the quality of sound in its relevance to hearing.\\n(Source: KOREN)"],  "acoustics": ["The science of the production,  transmission and effects of sound."],  "actinide": ["An element member of the actinide group of 15 radioactive elements."],  "actinium": ["A radioactive element of the actinide series,  occurring as a decay product of uranium. It is used as an alpha particle source and in neutron production.\\n(Source: CED)"],  "action group": ["A collection of persons united to address specific sociopolitical or socioeconomic concerns."],  "activated carbon": ["A powdered,  granular or pelleted form of amorphous carbon characterized by a very large surface area per unit volume because of an enormous number of fine pores.\\n(Source: LANDY)"],  "activated sludge": ["Sludge that has been aerated and subjected to bacterial action; used to speed breakdown of organism matter in raw sewage during secondary waste treatment.\\n(Source: LANDY)"],  "act": ["Something done voluntarily by a person,  and of such a nature that certain legal consequences attach to it.",  "Legal documents,  decrees,  edicts,  laws,  judgments,  etc.",  "To do something.",  "To perform a theatrical role."],  "adaptable species": ["Species capable of adapting to changing circumstances."],  "chemical addition": ["Chemical reaction in which one or more of the double bonds or triple bonds in an unsaturated compound is converted to a single bond by the addition of other atoms or groups."],  "additional packaging": ["Additional packaging around the normal sales packaging,  for example as protection against theft or for the purpose of advertising."],  "addition polymer": ["A polymer formed by the chain addition of unsaturated monomer molecules,  such as olefins,  with one another without the formation of a by-product,  as water; examples are polyethylene,  polypropylene and polystyrene."],  "additive": ["A substance mixed in small quantities with another product to modify its chemical or physical state,  for example to make food look visually more attractive.",  "Proper to be added."],  "adhesive": ["Substance used for sticking objects together."],  "acceptable daily intake": ["The measurement of the amount of any chemical substance that can be safely consumed by a human being in a day. Calculations are usually based on the maximum level of a substance that can be fed to animals without producing any harmful effects. This is divided by a \"safety factor\" to allow for the differences between animals and humans and to take account of the variation in human diets."],  "administration": ["The management or direction of the affairs of a public or private office,  business or organization."],  "administrative body": ["Any governmental agency or organization charged with managing and implementing regulations,  laws and government policies.\\n(Source: BLD)",  "All representatives in a company that have the assignment to administrate the company itself."],  "administrative competence": ["The power of an administrative organ to exercise control over a certain field."],  "administrative fiat": ["An authoritative decree,  sanction or order issued from an office with executive or managerial authority,  without necessarily having the force of law or its equivalent.\\n(Source: RHW / BLD)"],  "administrative jurisdiction": ["The extent,  power or territory in which an office with executive or managerial authority administers justice or declares judgments.\\n(Source: RHW / BLD)"],  "administrative law": ["Body of law created by administrative agencies in the form of rules,  regulations,  orders and decisions to carry out regulatory powers and duties of such agencies.\\n(Source: BLACK)"],  "administrative sanction": ["Any formal official imposition of penalty or fine,  e.g.: destruction,  taking,  seizure,  or withholding of property; assessment of damages,  reimbursement,  restitution,  compensation,  costs,  charges or fees; requirement,  revocation or suspension of license; or any other compulsory or restrictive action taken by an organization,  agency or its representative."],  "adsorption": ["The physical or chemical bonding of molecules of gas,  liquid or a dissolved substance to the external surface of a solid or the internal surface,  if the material is porous, ...]
Index: []

[0 rows x 87592 columns]

In [39]:
bloodType = pd.Series(['a+','b-','ab+','ab-','o+','o-','a+','a-','ab-','ab+','o-','o+','b-','b+','a+','a+'], 
                      dtype = 'category')

In [40]:
bloodType

0      a+
1      b-
2     ab+
3     ab-
4      o+
5      o-
6      a+
7      a-
8     ab-
9     ab+
10     o-
11     o+
12     b-
13     b+
14     a+
15     a+
dtype: category
Categories (8, object): ['a+', 'a-', 'ab+', 'ab-', 'b+', 'b-', 'o+', 'o-']

In [43]:
df = pd.DataFrame({'A':['a','b','c','a']})

In [44]:
df['B']= df['A'].astype('category')

In [51]:
df

   A  B
0  a  a
1  b  b
2  c  c
3  a  a

In [61]:
df = pd.DataFrame({'value':np.random.randint(0,100,20)})

In [62]:
labels = ['{0}-{1}'.format(i, i + 9)for i in range(0,100,10)]

In [63]:
df["group"] = pd.cut(df.value, range(0, 105, 10), right=False, labels=labels)

In [64]:
df.head(10)

   value  group
0     20  20-29
1     68  60-69
2     63  60-69
3     65  60-69
4     28  20-29
5     86  80-89
6     14  10-19
7     35  30-39
8     22  20-29
9     87  80-89

In [65]:
df.head(20)

    value  group
0      20  20-29
1      68  60-69
2      63  60-69
3      65  60-69
4      28  20-29
5      86  80-89
6      14  10-19
7      35  30-39
8      22  20-29
9      87  80-89
10     54  50-59
11     37  30-39
12     55  50-59
13     81  80-89
14     56  50-59
15     98  90-99
16     22  20-29
17     52  50-59
18     38  30-39
19     24  20-29

In [66]:
raw = pd.Categorical(
    ["a", "b", "c", "a"], categories=["b", "c", "d"], ordered=False
)

In [67]:
s = pd.Series(raw)

In [68]:
s

0    NaN
1      b
2      c
3    NaN
dtype: category
Categories (3, object): ['b', 'c', 'd']

In [69]:
df = pd.DataFrame({'A':['a','b','c','a']})

In [70]:
df['B'] = raw

In [71]:
df

   A    B
0  a  NaN
1  b    b
2  c    c
3  a  NaN

In [72]:
df.dtypes

A      object
B    category
dtype: object

In [82]:
df = pd.DataFrame({'A': list('abca'), 'B': list('bccd')}, dtype = 'category')

In [83]:
df

   A  B
0  a  b
1  b  c
2  c  c
3  a  d

In [84]:
df_cat = df.astype('category')

In [86]:
df_cat['A']

0    a
1    b
2    c
3    a
Name: A, dtype: category
Categories (3, object): ['a', 'b', 'c']

In [87]:
s = pd.Series(list('abcde'))

In [88]:
s

0    a
1    b
2    c
3    d
4    e
dtype: object

In [89]:
from pandas.api.types import CategoricalDtype

In [90]:
CategoricalDtype(list('abcde'))

CategoricalDtype(categories=['a', 'b', 'c', 'd', 'e'], ordered=False)